<!DOCTYPE html>
<html id='html' lang="en">
<head>
<meta charset="UTF-8">
<title>❣️{% if  page.title %}{{page.title|replace_first:page.name,""|prepend:page.name}} • Call Now: 8128362205 {% elsif page.url != '/' %}{{page.url | remove: "/" | capitalize}} • {% endif %}Best Ahmedabad Escorts • 8128362205 • Ahmedabad Call Girl • Ahmedabad Independent Escort • Call Girls in Ahmedabad • Sexy Girls • Hot Girls • Sexy Girls in Ahmedabad • Hot Girls in Ahmedabad • Ahmedabad Sexy and hot Call Girls</title>
<meta content='{% if page.desc %}{{page.desc}} • {% elsif page.content and page.url != "/" %}{% if page.des %}{{page.des}} {% endif %}{{page.content | strip_html | strip_newlines | strip}}{% else %}Ahmedabad Escorts, ahmedabad call girl ahmedabad, escort service, call girl ahmedabad, SohaniSharma Best Sexy & Hot Call Girls Provider in Ahmedabad. ☎️:8128362205 or Best Hot & Sexy Escorts Service Provider in Ahmedabad. Independent Escorts Service. Ahmedabad Sexy and hot Call Girls. Best Ahmedabad Escorts Service Provider. Call Girls in Ahmedabad. Sexy Girls in Ahmedabad. Hot Girls in Ahmedabad. Best Escorts Service. Ahmedabad Independent Escorts.{% endif %}' name='description'/>
<meta content='{% if page.desc %}{{page.desc | replace: ".", ","}} • {% elsif page.content and page.url != "/" %}{% if page.des %}{{page.des}} {% endif %}{{page.content | strip_html | strip_newlines | strip | replace: ".", ","}}{% else %}SohaniSharma is Best Sexy and hot Call Girls Provider in Ahmedabad, Call Now: 8128362205 or Best Sexy and hot Escorts Service Provider in Ahmedabad, Independent Escorts Service, Ahmedabad Sexy and hot Call Girls, Best Ahmedabad Escorts Service Provider, Call Girls in Ahmedabad, Sexy Girls in Ahmedabad, Hot Girls in Ahmedabad, Best Escorts Service, Ahmedabad Independent Escorts,{% endif %}' name='keywords'/>
<link href='/favicon.ico' rel='icon' sizes='any'/>

{% if page.canonical_url %}
  {%- assign canonical_url = page.canonical_url %}
{% else %}
  {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
{% endif %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Organization",
        "@id": "{{site.url}}/#organization",
        "name": "Sohani Sharma",
        "url": "{{site.url}}/",
        "sameAs": [
          "https://www.instagram.com/sohanisharma",
          "https://www.youtube.com/sohanisharma",
          "https://www.facebook.com/sohanisharma",
          "https://twitter.com/sohanisharma"
        ],
        "logo": {
          "@type": "ImageObject",
          "inLanguage": "en-US",
          "@id": "{{site.url}}/#/schema/logo/image/",
          "url": "{{site.url}}/favicon.ico",
          "contentUrl": "{{site.url}}/favicon.ico",
          "width": 100,
          "height": 100,
          "caption": "Sohani Sharma"
        },
        "image": {
          "@id": "{{site.url}}/#/schema/logo/image/"
        }
      },
      {
        "@type": "WebSite",
        "@id": "{{site.url}}/#website",
        "url": "{{site.url}}",
        "name": "❤️Best Ahmedabad Escorts Service Provider • 8128362205 • Ahmedabad Call Girls • Ahmedabad Independent Escorts • Call Girls in Ahmedabad • Sexy Girls • Hot Girls • Sexy Girls in Ahmedabad • Hot Girls in Ahmedabad • Ahmedabad Sexy and hot Call Girls",
        "description": "Ahmedabad Escorts, ahmedabad call girl ahmedabad, escort service, call girl ahmedabad, SohaniSharma Best Sexy & Hot Call Girls Provider in Ahmedabad. ☎️:8128362205 or Best Hot & Sexy Escorts Service Provider in Ahmedabad. Independent Escorts Service. Ahmedabad Sexy and hot Call Girls. Best Ahmedabad Escorts Service Provider. Call Girls in Ahmedabad. Sexy Girls in Ahmedabad. Hot Girls in Ahmedabad. Best Escorts Service. Ahmedabad Independent Escorts.",
        "publisher": {
          "@id": "{{site.url}}/#organization"
        },
        "potentialAction": [
          {
            "@type": "SearchAction",
            "target": {
              "@type": "EntryPoint",
              "urlTemplate": "{{site.url}}/?s={search_term_string}"
            },
            "query-input": "required name=search_term_string"
          }
        ],
        "inLanguage": "en-US"
      },
      {
        "@type": "ImageObject",
        "inLanguage": "en-US",
        "@id": "{{canonical_url}}#primaryimage",
        "url": {% if page.url == "/" %}["{{site.url}}/img/best-ahmedabad-escorts-service-provider-ahmedabad-call-girls-ahmedabad-independent-escorts.jpg","{{site.url}}/img/my-name-is-sohani-sharma-and-i-am-best-escorts-service-provider.jpg"]{% else %}[{% for img in page.img %}"https://sohanisharma.com/img/{{img}}"{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %},
        "contentUrl": {% if page.url == "/" %}["{{site.url}}/img/best-ahmedabad-escorts-service-provider-ahmedabad-call-girls-ahmedabad-independent-escorts.jpg","{{site.url}}/img/my-name-is-sohani-sharma-and-i-am-best-escorts-service-provider.jpg"]{% else %}[{% for img in page.img %}"https://sohanisharma.com/img/{{img}}"{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %},
        "width": 720,
        "height": 1080,
        "caption": "{% if page.url == "/" %}Best Ahmedabad Escorts Service Provider • 8128362205 • Ahmedabad Call Girls • Ahmedabad Independent Escorts • Call Girls in Ahmedabad • Sexy Girls • Hot Girls • Sexy Girls in Ahmedabad • Hot Girls in Ahmedabad • Ahmedabad Sexy and hot Call Girls{% else %}{{page.title | replace_first:page.name, " -" |prepend:page.name}}{% endif %}"
      },
      {
        "@type": "WebPage",
        "@id": "{{canonical_url}}",
        "url": "{{canonical_url}}",
        "name": "❤️{% if  page.title %}{{page.title|replace_first:page.name,""|prepend:page.name}} • Call Now: 8128362205 {% elsif page.url != '/' %}{{page.url | remove: "/" | capitalize}} • {% endif %}Best Ahmedabad Escorts • 8128362205 • Ahmedabad Call Girl • Ahmedabad Independent Escort • Call Girls in Ahmedabad • Sexy Girls • Hot Girls • Sexy Girls in Ahmedabad • Hot Girls in Ahmedabad • Ahmedabad Sexy and hot Call Girls",
        "isPartOf": {
          "@id": "{{site.url}}/#website"
        },
        "about": {
          "@id": "{{site.url}}/#organization"
        },
        "primaryImageOfPage": {
          "@id": "{{canonical_url}}#primaryimage"
        },
        "datePublished": "",
        "dateModified": "",
        "description": "{% if page.desc %}{{page.desc}} • {% elsif page.content and page.url != "/" %}{{page.content | strip_html | strip_newlines | strip}}{% else %}Ahmedabad Escorts, ahmedabad call girl ahmedabad, escort service, call girl ahmedabad, SohaniSharma Best Sexy & Hot Call Girls Provider in Ahmedabad. ☎️:8128362205 or Best Hot & Sexy Escorts Service Provider in Ahmedabad. Independent Escorts Service. Ahmedabad Sexy and hot Call Girls. Best Ahmedabad Escorts Service Provider. Call Girls in Ahmedabad. Sexy Girls in Ahmedabad. Hot Girls in Ahmedabad. Best Escorts Service. Ahmedabad Independent Escorts.{% endif %}",
        "breadcrumb": {
          "@id": "{{canonical_url}}#breadcrumb"
        },
        "inLanguage": "en-US",
        "potentialAction": [
          {
            "@type": "ReadAction",
            "target": [
              "{{canonical_url}}"
            ]
          }
        ]
      },
      {
        "@type": "BreadcrumbList",
        "@id": "{{canonical_url}}#breadcrumb",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "Home"{% if page.url != "/" %},
            "item": "{{site.url}}"{% endif %}
          }{% if page.url != "/" and page.categories%},
          {
            "@type": "ListItem",
            "position": 2,
            "name": "{{page.categories}}",
            "item": "{{site.url}}/categories#{{page.categories[0] | downcase | replace: " ", "-"}}"
          },
          {
            "@type": "ListItem",
            "position": 3,
            "name": "{{page.title | replace_first:page.name, " -" |prepend:page.name}}"
          }{% endif %}
        ]
      },{
        "@type":"CreativeWorkSeries",
        "name":"❤️{% if  page.title %}{{page.title|replace_first:page.name,""|prepend:page.name}} • Call Now: 8128362205 {% elsif page.url != '/' %}{{page.url | remove: "/" | capitalize}} • {% endif %}Best Ahmedabad Escorts • 8128362205 • Ahmedabad Call Girl • Ahmedabad Independent Escort • Call Girls in Ahmedabad • Sexy Girls • Hot Girls • Sexy Girls in Ahmedabad • Hot Girls in Ahmedabad • Ahmedabad Sexy and hot Call Girls",
        "aggregateRating":{
          "@type":"AggregateRating",
          "ratingValue":"5",
          "bestRating": "5",
          "ratingCount":"{{ content | size | times:6967 }}"
        }
      }
    ]
  }
</script>

<link href="{{ canonical_url }}" rel='canonical'/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1' name='viewport'/>
<link rel="stylesheet" href="/style.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNRGS58H61"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-KNRGS58H61');
  </script>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "er377oxe5o");
  </script>
</head>
<body id='body'>
  <style>
    #ncal{
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #4385f5;
      border-radius: 3px;
      color: white;
      margin-left: auto;
    }
    #ncal:hover{
      background:#1a73e8;
    }
    </style>
  <header id='hedr'>
    <a id='m_btn' onclick=menu() data-il=''></a>
    <a href='/' id='logo'>SOHANI SHARMA</a>
    <nav id='nav'>
      <a href='/' data-il=''>HOME</a>
      <a href='/about' data-il=''>ABOUT</a>
      <a href='/pricing' data-il=''>PRICING</a>
      <!-- <a href='/escort-types' data-il=''>ESCORT TYPES</a> -->
      <!-- <a href='/gallery' data-il=''>GALLERY</a> -->
      <!-- <a href='/blog' data-il=''>BLOG</a> -->
      <a href='/contact' data-il=''>CONTACT</a>
    </nav>
    <a href="tel:+918128362205" class='icon' id="ncal"></a>
  </header>
  <div id="bw_bg"></div>
  <div id="m_bg"></div>
  <!-- <div style='min-height:calc(100vh - var(--hfhit)*2);'> -->
  <main id='main' style="overflow:hidden ;">


    {{content}}

</main>
<!-- </div> -->
<div style="background:radial-gradient(circle at center center, transparent,rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),hsl(0deg 0% 5%);display:flex;flex-wrap:wrap;justify-content: center;padding:20px">

<style>
  #fbox{
    width:400px;
    /* background:#ffffff0d; */
    padding:20px;
    margin:20px;
  }

  #fbox>p{
    display:flex;
    margin-bottom:10px;
  }
  #fbox>p::before{
    margin-right:10px;
  }

  #fbox a{
    color:white;
    margin:20px auto;
    font-size:30px;
    font-family:Georgia;
    display:flex;
    justify-content: center;
  }
  #fbox a p{
    z-index: 0;
    position: relative;

}
  #fbox a p::after{
    content: '';
    height:40%;
    width:80%;
    background:#4385f5;
    position: absolute;
    bottom:0px;
    z-index: -1;
    right:-5px;
  }
</style>

<div id="fbox">
  <a href="/">Sohani&nbsp;<p style="font-family:Georgia;">Sharma</p></a>
  <p style="color:#d9d9d9;font-size:16px;">Sohani Sharma is a Best Ahmedabad Escort Agency Serving More than 200+ VIP client all over Ahmedabad.</p>
</div>



<div id="fbox">
  <a href="/"><p style="font-family:Georgia;">Contact</p></a>
  <p style="color:#d9d9d9;font-size:16px;" data-il=''>All Over Escorts Service in Ahmedabad, 380001</p>
  <p style="color:#d9d9d9;font-size:16px;" data-il=''>Phone: +91 8128362205</p>
  <p style="color:#d9d9d9;font-size:16px;" data-il=''>Email: contact@sohanisharma.com</p>
</div>


</div>
<footer id='fotr' ondblclick='localStorage.removeItem("tvm")'>Sohani Sharma © <script>document.write((new Date).getFullYear())</script> • All Rights Reserved.</div></footer>
</body>
<script>
  bw_bg.onclick=menu;
  function menu(){body.classList.toggle('m_activ')}
</script>
</html>